In [1]:
# import
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import numpy as np
import pandas as pd
import unittest
import os

# config
data_path = '/home/chc/data'

# Question 1

In [2]:
def question_1(array):
    input = np.array(array)
    result = np.array([])
    
    # start from index 1, so the minus is valid for first lower
    for index in range(1, input.size+1):
        # lower limit + upper limit
        lower = np.sum(input[0:index-1])
        upper = np.sum(input[index:input.size])
        result = np.append(result,lower+upper)
        
    return result

class Question1UnitTest(unittest.TestCase):
    def test_run(self):
        input = question_1([1,2,3,4])
        expected = np.array([9,8,7,6])
        self.assertTrue(np.array_equal(input,expected))
        
suite = unittest.TestLoader().loadTestsFromModule(Question1UnitTest())
unittest.TextTestRunner().run(suite)

.
----------------------------------------------------------------------
Ran 1 test in 0.002s

OK

# Question 2

In [3]:
# Download data
question2_data_path = data_path + '/weekly-sales-transactions'
question2_data_file = question2_data_path +'/Sales_Transactions_Dataset_Weekly.csv'

if not os.path.exists(question2_data_path):
    os.mkdir(question2_data_path)

if not os.path.exists(question2_data_file):
    print('Downloading data as '+question2_data_file)
    os.system('cd '+question2_data_path+';kg dataset -o crawford -d weekly-sales-transactions')
else:
    print('Data file exist '+question2_data_file)
    
# Load data up
question2_data = pd.read_csv(question2_data_file)
question2_data.head()

Data file exist /home/chc/data/weekly-sales-transactions/Sales_Transactions_Dataset_Weekly.csv

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,P1,11,12,10,8,13,12,14,21,6,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,P2,7,6,3,2,7,1,6,3,3,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,P3,7,11,8,9,10,8,7,13,12,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,P4,12,8,13,5,9,6,9,13,13,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,P5,8,5,13,11,6,7,9,14,9,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40

In [4]:
# Split the data into 2 panda frames - one hold quantity, one hold normalized
question2_data_quantity = pd.DataFrame()
question2_data_normalized = pd.DataFrame()

for index in range(0, 50):
    question2_data_quantity['W'+str(index)] = question2_data['W'+str(index)]
    question2_data_normalized['Normalized '+str(index)] = question2_data['Normalized '+str(index)]
    
question2_data_quantity.head()

,W0,W1,W2,W3,W4,W5,W6,W7,W8,W9,...,W40,W41,W42,W43,W44,W45,W46,W47,W48,W49
0,11,12,10,8,13,12,14,21,6,14,...,7,11,4,7,8,10,12,3,7,6
1,7,6,3,2,7,1,6,3,3,3,...,2,5,2,4,5,1,1,4,5,1
2,7,11,8,9,10,8,7,13,12,6,...,3,5,6,14,5,5,7,8,14,8
3,12,8,13,5,9,6,9,13,13,11,...,12,6,9,10,3,4,6,8,14,8
4,8,5,13,11,6,7,9,14,9,9,...,5,8,7,11,7,12,6,6,5,11

In [5]:
question2_data_normalized.head()

,Normalized 0,Normalized 1,Normalized 2,Normalized 3,Normalized 4,Normalized 5,Normalized 6,Normalized 7,Normalized 8,Normalized 9,...,Normalized 40,Normalized 41,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49
0,0.44,0.50,0.39,0.28,0.56,0.50,0.61,1.00,0.17,0.61,...,0.22,0.44,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17
1,0.70,0.60,0.30,0.20,0.70,0.10,0.60,0.30,0.30,0.30,...,0.20,0.50,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10
2,0.36,0.73,0.45,0.55,0.64,0.45,0.36,0.91,0.82,0.27,...,0.00,0.18,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45
3,0.59,0.35,0.65,0.18,0.41,0.24,0.41,0.65,0.65,0.53,...,0.59,0.24,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35
4,0.33,0.13,0.67,0.53,0.20,0.27,0.40,0.73,0.40,0.40,...,0.13,0.33,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53

b) Find median, mean, min and max values for each product

In [6]:
section_b = pd.DataFrame()
section_b['Median'] = question2_data_quantity.median(axis=1)
section_b['Mean'] = question2_data_quantity.mean(axis=1)
section_b['Min'] = question2_data['MIN']
section_b['Max'] = question2_data['MAX']
section_b.head()

   Median  Mean  Min  Max
0    10.0  9.72    3   21
1     3.5  4.02    0   10
2     8.0  8.74    3   14
3     8.0  8.30    2   19
4     8.0  8.46    3   18

c) Identify the best performing product (based on volume)

In [7]:
print(question2_data.loc[section_b['Mean'].idxmax()]['Product_Code'])

P409

d) Identify the most promising product (emerging product)

In [8]:
section_c = question2_data_normalized.median(axis=1)
print(question2_data.loc[section_c.idxmax()]['Product_Code'])

P141

e) Identify the top 5 worst performing products on a biweekly basis

In [9]:
column_size = question2_data_normalized.shape[1]

for index in range(0, column_size, 2):
    # plus n with n + 1 and divide by 2
    section_e = (question2_data_normalized['Normalized '+str(index)] 
                 + question2_data_normalized['Normalized '+str(index+1)]) / 2
    # sort by ascending order (near 0.0) and get the first 5
    indexes = section_e.sort_values().head().index.tolist()
    print('W'+str(index)+':'+str(question2_data.loc[indexes]['Product_Code'].values))

W0:['P278' 'P346' 'P386' 'P609' 'P277']
W2:['P819' 'P461' 'P460' 'P459' 'P458']
W4:['P819' 'P236' 'P235' 'P233' 'P232']
W6:['P819' 'P250' 'P577' 'P248' 'P246']
W8:['P819' 'P239' 'P238' 'P237' 'P236']
W10:['P819' 'P579' 'P578' 'P382' 'P576']
W12:['P819' 'P218' 'P220' 'P221' 'P224']
W14:['P819' 'P213' 'P214' 'P215' 'P216']
W16:['P819' 'P239' 'P238' 'P237' 'P236']
W18:['P279' 'P379' 'P377' 'P376' 'P699']
W20:['P819' 'P654' 'P241' 'P652' 'P651']
W22:['P677' 'P651' 'P650' 'P649' 'P647']
W24:['P819' 'P457' 'P454' 'P453' 'P445']
W26:['P652' 'P242' 'P443' 'P441' 'P440']
W28:['P819' 'P228' 'P229' 'P230' 'P231']
W30:['P819' 'P217' 'P218' 'P220' 'P223']
W32:['P671' 'P660' 'P659' 'P658' 'P657']
W34:['P708' 'P259' 'P258' 'P257' 'P256']
W36:['P239' 'P604' 'P260' 'P259' 'P258']
W38:['P233' 'P217' 'P221' 'P222' 'P223']
W40:['P237' 'P256' 'P254' 'P253' 'P708']
W42:['P819' 'P447' 'P446' 'P445' 'P443']
W44:['P819' 'P669' 'P667' 'P665' 'P480']
W46:['P819' 'P256' 'P606' 'P604' 'P254']
W48:['P819' 'P381' 'P382' 'P383' 'P386']

f) Identify outliers from the data and output the corresponding week numbers

In [10]:
# using Z-score method from http://colingorrie.github.io/outlier-detection.html
def outliers_z_score(ys):
    threshold = 3

    mean_y = np.mean(ys)
    stdev_y = np.std(ys)
    z_scores = [(y - mean_y) / stdev_y for y in ys]
    return np.where(np.abs(z_scores) > threshold)

# Loop through the product list
for index, row in question2_data_quantity.iterrows():
    outliers = outliers_z_score(row)
    if outliers[0].size > 0:
        week = ['W{0}'.format(i) for i in outliers[0]]
        print(question2_data.loc[index]['Product_Code']+':'+str(week))

P1:['W7']
P14:['W14']
P29:['W17']
P36:['W12']
P47:['W7']
P74:['W18']
P83:['W8']
P84:['W16']
P96:['W18']
P99:['W3']
P100:['W24']
P104:['W10']
P108:['W23']
P111:['W13']
P118:['W22']
P132:['W23']
P144:['W5']
P153:['W0']
P155:['W16']
P162:['W10']
P163:['W39']
P166:['W43']
P168:['W3']
P195:['W18']
P200:['W24']
P205:['W25']
P212:['W25', 'W37']
P213:['W35']
P214:['W35']
P215:['W23']
P216:['W36']
P218:['W7', 'W39', 'W48']
P219:['W34']
P220:['W32', 'W45', 'W48']
P221:['W46']
P222:['W21', 'W35']
P223:['W42']
P226:['W22', 'W44']
P227:['W15']
P228:['W11', 'W47']
P230:['W2', 'W40']
P231:['W44']
P232:['W20', 'W31', 'W43']
P234:['W4', 'W21']
P237:['W31']
P238:['W24']
P239:['W10', 'W25']
P240:['W15']
P242:['W21']
P243:['W13', 'W21', 'W43', 'W48']
P244:['W7']
P245:['W0', 'W23']
P246:['W25']
P247:['W24']
P248:['W30']
P249:['W6', 'W14', 'W36', 'W42']
P250:['W14']
P251:['W48']
P252:['W47']
P253:['W42', 'W48']
P254:['W5']
P255:['W45']
P256:['W6', 'W31', 'W42', 'W49']
P257:['W25']
P258:['W27']
P259:['W19']
P262:['W24']
P263:['W24']
P270:['W23']
P272:['W3', 'W22']
P273:['W48']
P274:['W49']
P275:['W1', 'W40']
P276:['W7', 'W46']
P277:['W37']
P279:['W23', 'W37']
P283:['W46']
P286:['W25']
P287:['W34']
P290:['W37']
P292:['W27']
P294:['W15']
P301:['W22']
P307:['W29']
P312:['W34']
P315:['W23']
P321:['W11']
P324:['W24']
P325:['W7']
P334:['W19']
P336:['W14']
P340:['W30']
P349:['W16', 'W28', 'W36']
P350:['W33']
P351:['W21', 'W25', 'W49']
P354:['W22', 'W37', 'W42', 'W44']
P355:['W6', 'W31', 'W40', 'W44']
P356:['W8']
P357:['W25']
P365:['W19']
P366:['W20']
P370:['W4']
P371:['W14']
P372:['W48']
P373:['W40']
P374:['W42']
P377:['W37']
P379:['W41']
P380:['W49']
P381:['W4', 'W13']
P382:['W22', 'W42']
P383:['W25', 'W40']
P384:['W49']
P386:['W18', 'W22', 'W44']
P387:['W6']
P388:['W11']
P389:['W22']
P394:['W3']
P395:['W22']
P406:['W25']
P411:['W23']
P416:['W39']
P418:['W25']
P419:['W43']
P421:['W14', 'W36']
P422:['W49']
P424:['W23', 'W44']
P425:['W25', 'W30', 'W32', 'W38']
P427:['W45']
P428:['W25']
P429:['W18']
P432:['W49']
P436:['W24']
P438:['W34', 'W37']
P444:['W21', 'W24', 'W26', 'W43']
P445:['W9']
P446:['W46']
P447:['W24']
P449:['W26']
P450:['W5']
P451:['W7', 'W37']
P452:['W12']
P453:['W9']
P454:['W6']
P455:['W38']
P456:['W41']
P457:['W23']
P458:['W45']
P459:['W37', 'W42']
P461:['W49']
P464:['W25']
P465:['W4', 'W14', 'W21', 'W25']
P466:['W23', 'W46', 'W48']
P467:['W38', 'W40']
P468:['W46', 'W48']
P469:['W21']
P470:['W24']
P471:['W25', 'W46']
P472:['W22']
P473:['W5', 'W17', 'W25']
P474:['W25']
P478:['W25']
P479:['W29']
P480:['W25', 'W34']
P483:['W4', 'W27', 'W38']
P494:['W24']
P495:['W9']
P503:['W24']
P507:['W23']
P509:['W6']
P511:['W9']
P524:['W12']
P526:['W24']
P538:['W24']
P542:['W25']
P550:['W5']
P556:['W17']
P561:['W7']
P563:['W1']
P564:['W20']
P568:['W25']
P573:['W23']
P575:['W42']
P576:['W31', 'W44']
P578:['W22']
P581:['W5']
P589:['W43']
P592:['W46']
P594:['W15', 'W22']
P595:['W18']
P597:['W25', 'W40']
P598:['W25']
P600:['W25', 'W49']
P602:['W7']
P603:['W46']
P604:['W20']
P606:['W33', 'W48']
P608:['W48']
P609:['W24']
P610:['W6']
P613:['W24']
P614:['W25']
P615:['W24']
P621:['W7']
P626:['W38']
P630:['W4']
P639:['W27']
P640:['W24']
P643:['W25']
P644:['W24', 'W35']
P646:['W25', 'W49']
P647:['W21']
P649:['W36', 'W43']
P650:['W18', 'W21', 'W48']
P652:['W25', 'W48']
P653:['W42']
P654:['W44', 'W46']
P655:['W21']
P656:['W23', 'W45']
P657:['W30', 'W38', 'W46', 'W49']
P658:['W11']
P660:['W46']
P661:['W10', 'W11', 'W33']
P662:['W40', 'W46', 'W48']
P664:['W15']
P665:['W17']
P666:['W25']
P668:['W0', 'W23', 'W34']
P671:['W48', 'W49']
P672:['W22', 'W42', 'W48']
P679:['W22']
P680:['W25']
P682:['W7']
P683:['W15', 'W22', 'W40']
P684:['W39']
P685:['W20']
P689:['W47']
P690:['W36']
P691:['W13']
P692:['W15']
P693:['W25']
P694:['W39', 'W47']
P695:['W13', 'W14', 'W41', 'W45']
P696:['W24', 'W46']
P700:['W3']
P701:['W23']
P702:['W31']
P703:['W44']
P704:['W36']
P707:['W40']
P708:['W1', 'W29']
P712:['W21', 'W48']
P713:['W1']
P715:['W6', 'W10', 'W17', 'W20']
P716:['W0', 'W4', 'W14']
P718:['W1', 'W40']
P719:['W31', 'W38', 'W44']
P720:['W20', 'W21']
P721:['W18']
P722:['W22', 'W46']
P729:['W19', 'W41', 'W47']
P731:['W29']
P732:['W49']
P735:['W49']
P739:['W11', 'W29']
P741:['W46', 'W47']
P743:['W44']
P748:['W24', 'W46']
P751:['W49']
P755:['W14']
P757:['W44']
P758:['W46']
P759:['W43', 'W49']
P760:['W14', 'W49']
P761:['W17', 'W19', 'W32']
P762:['W44']
P763:['W6', 'W20']
P765:['W49']
P766:['W48']
P767:['W49']
P770:['W0']
P772:['W33']
P773:['W24']
P775:['W42', 'W43', 'W48', 'W49']
P776:['W38', 'W48']
P777:['W46']
P778:['W46']
P779:['W49']
P780:['W24']
P783:['W24']
P789:['W47']
P790:['W24']
P791:['W49']
P794:['W27', 'W44']
P795:['W27']
P796:['W14']
P797:['W25']
P800:['W36']
P802:['W45']
P803:['W19']
P807:['W23']
P810:['W28', 'W36']
P811:['W25']
P812:['W11']
P813:['W23']
P814:['W49']
P815:['W16']
P818:['W24']
P819:['W18', 'W35']